// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "footer";

.container {
  width: 95%;
  margin: 13% auto 15% auto;
  text-align: center;
}

.post {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
    a {
      color: #414042;
      text-decoration: transparent;
      &:hover {
        color: #414042;
        text-decoration: underline;
        -webkit-text-decoration: underline;
      }
    }
}

.post-title {
  text-align: left;
}

.back-link {
  margin-top: 10%;
  display: flex;
  justify-content: center;
    a {
      color: #414042;
      text-decoration: transparent;
      &:hover {
        color: #414042;
        text-decoration: underline;
        -webkit-text-decoration: underline;
      }
    }
}

.date {
  font-size: 85%;
  text-align: right;
}

@media (min-width: 700px) and (max-width: 1000px) {
  .container {
    width: 50%;
    margin-top: 14%;
  }
  .post {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 50%;
    margin-top: 14%;
  }
  .post {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

