@import "alert";
@import "avatar";
@import "footer";

.container-show {
  width: 90%;
  margin: 10% auto 20% auto;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

p {
  text-align: justify;
}

.back-link {
  margin-top: 5%;
  display: flex;
  justify-content: center;
    a {
      color: #414042;
      text-decoration: transparent;
      &:hover {
        color: #414042;
        text-decoration: underline;
        -webkit-text-decoration: underline;
      }
    }
}

.links {
  margin: 10% auto 30% auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
  -webkit-padding-after: 20%;
    a {
      color: #414042;
      text-decoration: transparent;
      &:hover {
        color: #414042;
        text-decoration: underline;
        -webkit-text-decoration: underline;
      }
    }
}

@media (min-width: 700px) {
  .container-show {
    width: 600px !important;
    margin-top: 5%;
    margin-bottom: 0;
  }
  .back-link {
    margin-top: 1%;
  }
  .links {
    width: 20%;
  }
}
