// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/show";
@import "components/form";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap');

$main_font: 'Nanum Gothic', 'sans-serif';

body, html {
  background-color: #ffffff;
    // background-color: gray;

}

body {
  font-family: $main_font;
  color: #414042;
  height: 100vh;
}

h1 {
  font-family: $main_font;
}

a {
  color: #414042;
  border-bottom: 1px solid #414042;
  &:hover {
    text-decoration: transparent;
    border-bottom: 1px solid white;
    color: #414042;
  }
}

